.chatarea {
  display: flex;
  height: 100vh;
}

.chatarea__sidebar {
  background-color: #050505;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  width: 15%;
  min-width: 50px;
}
.chatarea__sidebar {
  background-color: #050505;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  width: 15%;
  min-width: 50px;
}
.sidebar-header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px;
}

.toggle-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  color: white;

}

.chat__messages {
  position: relative;
  background-color: #2b2a2a;
  flex: 1;
  padding: 20px;
  overflow-x: auto;
  overflow-y: scroll;
  color: whitesmoke;
  gap: 10px;
  display: flex;
  flex-direction: column;
}


.chat__messages-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  margin-bottom: 5px;
  padding-bottom: 15px;

}

.scroll-to-bottom {
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 40px;
  height: 40px;

  background-color: whitesmoke;
  color: black;
  border: none;
  border-radius: 90%;

  font-size: 20px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s;
  font-weight: bold;
  outline: none;
  box-shadow: none;
}

.scroll-to-bottom:hover {
  background-color: #666;
  color: whitesmoke;
  outline: none;
}

@media(max-width: 768px) {
  .chatarea {
    flex-direction: row;
    width: 100%;
  }

  .chatarea__sidebar {
    height: 100vh;
  }

  .chat__messages {
    flex: 1;
    padding: 10px;
    min-height: 100vh;
    overflow-y: auto;
  }

  .chat__messages-header {
   font-size: x-small;
  }
}